*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/compiler.xml
/.idea/misc.xml
/.idea/gradle.xml
/.idea/assetWizardSettings.xml
/.idea/.name
/.idea/jarRepositories.xml
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
/.idea/runConfigurations.xml
/buildSrc/.gradle
/buildSrc/build
/buildSrc/buildSrc.iml
/.idea/shelf
